.container {
    display: block;
    max-width: $w-container;
    margin: 0 auto;
}

.container__flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: $w-container;
}