$spacing : 20px;
$padding : $spacing;
$margin  : $spacing;

%spacing{
    padding: $padding;
    margin:  $margin;
    @include break(){
        padding: $padding $padding*2;
        margin:  $margin $margin*2;
    }
}

%padding{
    padding: $padding;
    @include break(){
        padding: $padding $padding*2;
    }
}

%margin{
    margin:  $margin;
    @include break(){
        margin:  $margin $margin*2;
    }
}